:root{
    --valo-red: #ff4655;
}
*{
    font-family: 'VALORANT', 'Helvetica';
}
hr{
    border: dashed black 3px;
}
body{
    margin: 0 10%;
}
button{
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1em;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.logo img{
    background-color: #0f1923;
}
.searchBar{
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.searchBar input{
    width: 50vw;
    height: 32px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    background-color: #ffebeb;
}
.searchBar button{
    border-radius: 0px 10px 10px 0px;
    background-color: black;
    color: white;
    padding: 10px;
}
.agents{
    display: flex;
    justify-content: space-around;
}
.agents a{
    text-decoration: none;
    color: black;
}
.agents a:hover{
    color: var(--valo-red);
    text-decoration: underline;
}

.content{
    display: flex;
    
    gap: 10px;
}
.maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e96479;
    justify-content: center;
    
}
.maps h1{
    text-align: center;
}
.maps img{
    margin: 0 12px;
}
.mapsDesc{
    margin: 12px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.descAction{
    display: flex;
    align-items: center;
}
.news{
    flex-grow: 2;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}
.newsDesc{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 0;
}
.news h1{
    margin-bottom: 0;
}
.news hr{
    width: 80%;
}
.news img{
    object-fit:fill;
    width: 80%;
}
.descText, #like, .descText a, .textcount{
    font-family: Helvetica, sans-serif;
    font-weight: 800;
}
.newagents{
    margin: 6px;
}
.cart{
    border: none;
    background-color: transparent;
}
.play{
    border: none;
    background-color: transparent;
}