*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
main{
  display: flex;
}
.left{
  width: 20%;
  background-color: aliceblue;
  overflow: hidden;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  font-weight: 700;
  font-size: 1.2em;
}
.left a{
  all: unset;
}
.left a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.hours{
  font-weight: 100;
  font-size: 0.8em;
  color: gray;
}
.location{
  height: 30%;
}
.right{
  width: 80%;
  height: 100vh;
}
.right .up{
  height: 50vh;
}
.rightupcover{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.down{
  display: flex;
}
.downLeft{
  width: 55%;
}
.leftCard{
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: skyblue;
  gap: 14px;
  border-radius: 1em;
  padding: 1em 0;
}
.leftCard h1{
  text-align: center;
}
.step{
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0 1em;
}
.head {
  background-color: white;
  padding: 12px;
  font-size: 1.2em;
  clip-path: circle();
  color: skyblue;
  font-weight: 700;
}

.title {
  font-weight: 700;
}

.options {
  display: none;
}
.step2{
  padding: 0 4em;
}
.step3 {
  padding: 0 7em;
}
.step:hover{
  background-color: rgb(221, 241, 248);
}


.rightCard{
  margin: 12px;
  margin-right: 24px;
  padding: 12px;
  border-radius: 12px;
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 8px;
}
.meaning-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.word{
  font-size: 2.5em;
}
.pronounce{
  color: wheat;
  font-size: 1.5em;
}

.rightCard button{
  width: 3em;
  align-self: flex-end;
}