*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  margin: 0 15%;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}
.searchbar input{
  all: unset;
  height: 26px;
  border-radius: 20px 0 0 20px;
  border: solid 1px black;
  border-right: 0px;
  padding: 6px;
  padding-left: 24px;
  width: 400px;
}
.searchbar button{
  all: unset;
  height: 26px;
  border-radius: 0 20px 20px 0;
  border: solid 1px black;
  border-left: 0px;
  padding: 6px;
  padding-right: 24px;
}
.navAction button{
  all: unset;
  padding: 12px;
}
.navAction .cart{
  font-size: 1.5em;
}
.tabs{
  display: flex;
  justify-content: space-between;
}
.tabs a{
  all: unset;
  color: black;
}
.tabs a:hover {
  text-decoration: underline;
}
hr{
  border: 2px solid black;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.content h1{
  letter-spacing: 1px;
  font-size: 2em;
  margin: 4px;
}
.firstRow{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.firstRow .left{
  display: flex;
  width: 60%;

}
.firstRow .left .text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aquamarine;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  hyphens: auto;
}
.firstRow .left p {
  margin: 0;
}
.firstRow a{
  all: unset;
}
.firstRow a:hover{
  text-decoration: underline;
}
.firstRow .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 40%;
}
.right img{
  width: 100%;
  object-fit: fill;
}
.right .text{
  width: 90%;
  background-color: aquamarine;
  padding: 1em;
  text-align: center;
}

.secondRow{
  background-color: aquamarine;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.secondRow div{
  padding: 8px;
  text-align: center;
}
.cookies{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 15%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 2em;
  justify-content: space-between;
  gap: 12px;
  border: 4px solid black;
}
.cookies i{
  font-size: 3em;
}
.cookies button{
  text-wrap: nowrap;
  padding: 12px;
  background-color: aquamarine;
  
  box-shadow: 5px 5px black;
}

button, a{
  cursor: pointer !important;
}