*{
    font-family: 'Beaufort for LOL', 'Helvetica';
    margin: 0;
    /* transition: all 1s; */
}
body{
    background-image: url("Runeterra_Terrain_map.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.introheight{
    height: 100vh;
    display: flex;
}
.intro{
    place-items: center;
    background-color: rgba(255, 255, 255, 0.356);
    border: 2px solid rgb(7, 6, 34);
    padding: 2em;
    margin: auto;
    width: 75vh;
    backdrop-filter: blur(6px);
    border-radius: 0.5em;
}
.intro h1{
    text-align: center;
    margin-bottom: 0.5em;
}
.intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
}
.regionsect{
    background-color: #0a0a0c
}
.transition{
    height: 5em;
    background-image: linear-gradient(180deg,rgba(0,0,0,0) 65%,rgba(10,10,12,.1) 70%,#0a0a0c 90%);
}
.title{
    text-align: center;
    color: rgb(103, 71, 31);
    font-size: 3em;
    font-weight: 900;
}
.divider{
    width: 90vw;
    object-fit: contain;
    position:relative;
}
.regions{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10%;
    gap: 1em;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.region{
    display: flex;
    width: 700px;
    gap: 1em;
}
.region div{
    color: white;

}
.region .cover{
    margin: 0;
    width: 300px;
    object-fit: contain;
}
.region div{
    margin-bottom: 0.5em;
}
.regionTitle{
    font-size: 1.5em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.regionTitle span{
    margin: 0 0.2em;
}
.footer{
    padding: 2em;
    text-align: center;
}
.footer a{
    display: block;
    margin: 1em;
    text-decoration: none;
    color: rgb(103, 71, 31);
}
.footer a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 720px) {
    .region{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: auto 3em;
    }
    .region .cover{
        width: 80vw;
        align-self: center;
    }
}